
<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 class="headline">About</h2>
    </div>
  </div>

  <div class="image-container">
    <%= image_tag '20230328214242.jpg', style: 'width: 100%; height: auto;' %>
    <div class="image-overlay">
      <span class="image-caption">Esuke＝良いスケジュール</span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-5 col-md-12">
      <div class="about-image">
        <%= image_tag 'StartLine_image.jpg', class: "image" %>
        <span class="about-head">Esuke<br>start</h1>
      </div>
    </div>
    <div class="col-lg-7 col-md-12">
      <p class="p-bold">以前の私は新年を迎えるごとにスケジュール張を買い毎年のように３ヶ月坊主の繰り返し。<br>
        そんな私がプログラミングの勉強したいと思い、東京大学大学院修士の友達に勉強の相談したところ１冊のスケジュール帳が届きました。<br>
        中身にはその日のスケジュールと、ToDoリスト、その日の感想や自己肯定感を上げる一言が書いてありました。<br>
        なんとなく予定を書いて目的もなかった私に衝撃が走った。<br>
        その友達のスケジュールには、未来の大きな目的とその目的を達成するための毎日の小さな
        目標を定めていました。<br>
        『人は何か目的や目標があると頑張れる生き物だ。』<br>
        高校球児が甲子園に出場するために
        毎日きつい練習にも手を抜かずに練習するのと同じだ。<br>
        勿論スケジュール帳を書く＝ゴールになってはいけないが、
        きちんとした一日の目標を立てるだけでその日のことが見える化でき
        一日のモチベーションが全然違います。<br>
        そして、甲子園に出場するならば、一緒に支え合い、時にはライバルになる仲間が必要です。
        友達と一緒にスケジュール習慣を身につけましょう！！<br>
        これがEスケの始まりである。
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-7 col-md-12 order-lg-0 order-1">
      <p class="p-bold">真面目な話はここまでにしてEスケの遊び方について簡単な説明をします。<br>
        Eスケはスケジュールを立てることの継続のしやすさが
        今までのスケジュールアプリやスケジュール帳とは違う点です。<br>
        何が違うのかそれは、ゲーム感覚でスケジュールが立てれます。<br>
        遊び？ゲーム？と思った方もいると思います。
        このEスケはスケジュールを立てるとポイントが貯まります。<br>
        実際使うことはできないのですが、
        友達や同僚と競い合うことで習慣付きやすいです。<br>
        グループを作成して、会社や友達同士でぜひ一緒に遊んでほしいです。<br>
        ポイントの貯め方はToDoリスト作成、達成したごとに１ポイントずつ
        溜まっていきます。<br>
        それでは皆さんとの浸みながら継続していきましょう！
      </p>
    </div>
    <div class="col-lg-5 col-md-12 order-lg-1 order-0">
      <div class="about-image">
        <%= image_tag "gahag-0118838127-1.jpg", class: "image" %>
        <span class="about-head">Esuke<br>play</h1>
      </div>
    </div>
  </div>
</div>

<style>
  .image-container {
    position: relative;
    overflow: hidden;
  }

  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-caption {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .image-container:hover .image-overlay {
    opacity: 1;
  }

  .about-image {
    height: 100%;
    position: relative;
    background-size: cover;


  }

  .about-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
  }

  .image {
    width: 100%;
    height: 100%;

  }

</style>