<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="headline">Well come to Esuke!!</h1>
      <div class="parent">
        <%= image_tag 'img_b6aae7c7a00c8125a4896b4aa5bf5e0693973.jpg',class: "top-img" %>

        <div class="box">
          <h3 style="color: white;">時間は有限<br>可能性は無限<br>E(良い)スケジュールを！</h3>
        </div>
      </div>

      <p class="top-bold">白紙のスケジュール帳とはもうお別れ<br>
        友達や仲間と一緒に<br><span class="stylish-text">ゲーム感覚で<br>スケジュール帳を<br>書く習慣</span><br>を身に付けましょう！</p>

      <% if user_signed_in? %>
      <% elsif admin_signed_in? %>
      <% else %>
        <%= link_to "ログイン", user_session_path, class: "btn btn-dark" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-dark" %>
        <%= link_to "about", about_path, class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>

<style>
  .parent{
    width: 100%;
    background: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .box{
    text-align: center;
    width: 330px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .top-img{
    width: 100%;
    height: 300px;
    image: center;

  }
</style>