<h1>時間は有限　可能性は無限　Eスケジュールを</h1>
<p>白紙のスケジュル帳とはもうお別れ<br>
友達や仲間と一緒にゲーム感覚でスケジュール帳を書く習慣を身に付けましょう！</p>
<%= link_to "ログイン", user_session_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ゲストログイン" %>
<%= link_to "about", about_path %>