<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="headline">Well come to Esuke!!</h1>
      <div class="parent">
        <%= image_tag 'img_b6aae7c7a00c8125a4896b4aa5bf5e0693973.jpg',class: "top-img" %>

        <div class="box">
          <h3 style="color: white;">時間は有限　可能性は無限　E(良い)スケジュールを！</h3>
        </div>
      </div>

      <p class="top-bold">白紙のスケジュール帳とはもうお別れ<br>
        友達や仲間と一緒に<span class="stylish-text">ゲーム感覚でスケジュール帳を書く習慣</span>を身に付けましょう！</p>
      <%= link_to "ログイン", user_session_path, class: "btn btn-dark" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-dark" %>
      <%= link_to "about", about_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>